.button {
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.button-white {
    background: #eef1eb;
    color: rgb(12, 8, 8);
    margin-top: 20px;
}

.button-blue {
    background: cadetblue;
    color: rgb(10, 10, 10);
}

.button-green {
    background: greenyellow;
    color: rgb(10, 10, 10);
}

.button-red {
    background: indianred;
    color: rgb(10, 10, 10);
}
