.field {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.text-field {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
