body {
    background-color: #f3f3f3;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.column-1-3 {
    width: 33%;
    float: left;
}

.container:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

@media (max-width: 731px) {
    .column-1-3 {
        float: none;
        width: auto;
    }
}
