.price {
  background: #f3f3f3;
}

.small {
  padding: 50px;
  text-align: center;
}

.medium {
  padding: 50px;
  text-align: center;
}

.large {
  padding: 50px;
  text-align: center;
}

.price-title {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  color: gray;
  font-weight: bolder;
  text-align: center;
}
